{
  "presets": ["next/babel", "@babel/typescript"],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    [
      "styled-components",
      {
        "ssr": false
      }
    ]
  ]
}
