{
  "extends": ["alloy", "alloy/react", "alloy/typescript", "plugin:jsx-a11y/recommended"],
  "plugins": [
    "prettier",
    "react",
    "react-hooks",=
    "@typescript-eslint",
    "better-styled-components"
  ],
  "rules": {
    "eqeqeq": "error",
    "prefer-object-has-own": "off",
    "max-params": 0,
    "prettier/prettier": "error",
    "react/display-name": "off",
    "react/no-children-prop": "off",
    "react/react-in-jsx-scope": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "better-styled-components/sort-declarations-alphabetically": 2
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "JSX": "readonly",
    "React": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "ignorePatterns": ["node_modules", "build", "dist", "public", "src/**/*.js", "src/**/*.jsx"]
}
